langchain==0.1.17
langchain-community==0.0.19
langchain-huggingface==0.0.7

transformers==4.39.3
sentence-transformers==2.2.2
accelerate

faiss-cpu==1.7.4

unstructured
unstructured[html]

python-dotenv
streamlit==1.32.0
tiktoken
huggingface-hub
requests
